/.gradle/
build/
g=out/
gen/

gradlew
gradlew.bat

/data/saves/
/data/rsa/
/data/xteas.json
/data/xteas.json.backup
/cfg/

error.log
modulus

first-launch
first-launch-example
/game.yml
/dev-settings.yml
dump.hprof
/.kotlin/
/data/cache
/ksp-processor/bin
/web-api/website/.next
/web-api/website/node_modules
/content/src/main/kotlin/generated/org/alter/tables
/content/src/main/kotlin/org/generated
*.dat
